@namespace url("http://www.w3.org/1999/xhtml");

* {
	margin: 0;
	padding: 0;
}

body, td, th, p {
	font-size: 13px;
	font-family: "Helvetica", "Verdana", sans-serif;
}

a {
	color: #005700;
	text-decoration: none;
}

a:hover {
	color: #008000;
	background-color: #f0fff0;
}

hr, h1 {
	display: none;
}

div#toc {
	display: block;
	position: fixed;
	top: 10px;
	right: 5px;
	background: black;
	color: white;
	overflow: auto;
	max-height: 90%;
	width: 225px;
	padding: 10px;
	padding-right: 5px;
}

div#toc a, thead a {
	color: yellow;
}

div#toc a:hover, thead a:hover {
	color: orange;
	background-color: transparent;
}

div#toc ul {
	padding-left: 10px;
}

div#toc > * + h2 {
	margin-top: 10px;
}

div#toc li {
	display: block;
	list-item-style: none;
}

div#content {
	padding: 10px;
	padding-top: 0;
	padding-right: 250px;	
}

div#content > div > div {
	padding-top: 10px;
}	

table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid black;
	margin-bottom: 1em;
}

td, th {
	border: 1px solid silver;
	padding: 2px;
}

tbody > tr > th {
	width: 200px;
}

tbody > tr:not(.foreignKey) > td:nth-child(2) {
	text-transform: uppercase;
}

tbody > tr > td:nth-child(4) {
	width: 150px;
}

tbody tr:not([id]) {
	display: none;
}

tbody th a {
	display: block;
}
	
tbody > tr > * > a:hover {
	background: transparent !important;
	color: maroon;
}

tbody tr:target + tr:not([id]) {
	display: table-row;
	background: #f0fff0;
}

thead {
	border-bottom: 2px solid black;
}

tfoot {
	border-top: 2px solid black;
}

tfoot > tr > th {
	background: #f0f0f0;
}

tfoot > tr > td {
	background: #f8f8f8;
}

tr:target > * {
	background: #f0fff0;
}

thead th, thead td {
	color: white;
	background-color: #333333;
	border-color: white;
}

thead > tr > th {
	text-align: center;
}

thead > tr > td {
	text-align: right;
}

div:target > table {
	border-color: red;
}

div:target > table > thead > tr > th, div:target > table > thead > tr > td {
	background-color: #666666;
}

tbody > tr > td, tbody > tr > th {
	text-align: left;
	font-weight: normal;
}

tbody > tr:hover > td, tbody > tr:hover > th {
	background-color: #fffff0;
}

tr.primaryKey > th {
	font-weight: bold;
}

tr.foreignKey > th {
	font-style: italic;
}

dl {
	padding-left: 1em;
}

dt, dd {
	display: block;
}

dt {
	font-weight: bold;
}

dd {
	padding-left: 1.5em;
}
